#fav-movies{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:30px;
    @media screen  and (max-width: 1200px){
        grid-template-columns:repeat(4,1fr);
    }
    @media screen  and (max-width: 1000px){
        grid-template-columns:repeat(3,1fr);
    }
    @media screen  and (max-width: 770px){
        grid-template-columns:repeat(2,1fr);
    }
    @media screen  and (max-width: 440px){
        grid-template-columns:repeat(1,1fr);
    }
}
.fav-movies{
    padding-top: 60px;
}