:root{
    --var-color-bg:#FFFFFF;
    --var-color-text: #2F281E;
    --var-color-button: #FF9900;
    --var-color-border-btn: #BCD0E5;
    --var-color-footer-hyperlink: #544837;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: min(90%, 1200px);
    margin: 0 auto;
}
body{
    background-color: var(--var-color-bg);
    color: var(--var-color-text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75rem; 
}
ul{
    list-style: none;
    font-size: 0;
}
img{
    vertical-align: top;
}
.logo{
    width: 200px;
    height: 32px;
}
.navigation{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.nav li{
    display: inline-block;
}
.nav li:not(:last-child){
    margin-right: 20px;
}
.nav li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--var-color-text);
    transition: all .1s ease-in;
}
.nav li a:hover {
    color: var(--var-color-button);
}

.btn{
    width: 110px;
    height: 46px;
    font-weight: 500;
    font-size: 1rem;
    padding: 13px 25px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--var-color-border-btn);
    background-color: var(--var-color-bg);
    color: var(--var-color-text);
    transition: all .1s ease-in;
}
.login .btn:first-child{
    margin-right: 32px;
}
.login .btn:hover{
    border: 1px solid var(--var-color-button);
    color: var(--var-color-bg);
    background-color: var(--var-color-button);
}
main{
    padding-top: 70px;
}
#first-screen .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
#first-screen .first_screen_content{
    flex-basis: 500px;
    line-height: 5;
}
#first-screen .first_screen_img{
    flex-basis: 644px;
}
#first-screen h1{
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.375rem;
    margin-bottom: 30px;
}
#first-screen p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 20px;
}
.btn.main{
    background-color: var(--var-color-button);
    width: 180px;
    height: 50px;
    padding: auto;
    color: var(--var-color-bg);
    font-weight: 700;
}
.btn.main:hover{
    background-color: var(--var-color-bg);
    border: 1px solid var(--var-color-button);
    color: var(--var-color-text);
}
#features ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
#features {
    padding-bottom: 74px;
    background-image: url(../img/bg\ \(1\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
#features h2{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 auto 50px;
    width: 539px;
    text-align: center;
}
#features ul li{
    flex-basis: 270px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem; 
}
#features ul li h3{
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 16px;
}
#features .square{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
#features ul li:nth-child(1) > div.square{
    background-color: #7752BE;
    background-image: url(../img/arrow.svg);
}
#features ul li:nth-child(2) > div.square{
    background-color: #FAB005;
    background-image: url(../img/survey.svg);
}
#features ul li:nth-child(3) > div.square{
    background-color: #F03E3D;
    background-image: url(../img/heart.svg);
}
#features .container ul li:nth-child(4) > div.square{
    background-color: #4DADF7;
    background-image: url(../img/clock.svg);
}
#features .container>div{
    text-align: center;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0;
}
footer ul h4, footer .container form label{
    font-size: 1.25rem;
    color: var(--var-color-text);
    font-weight: 700;
    line-height: 1.875rem;
    margin-bottom: ;
}
footer h4{
    margin-bottom: 30px;
}
footer form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
footer ul li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--var-color-footer-hyperlink);
    text-decoration: none;
}
footer ul li a:hover{
    color: var(--var-color-button);
}
footer ul li{
    margin-bottom: 15px;
    line-height: 1.3rem;
    margin-right: ;
}
footer ul li:last-of-type{
    margin-bottom: 0;
}
footer form label{
    width: 280px;
}
footer input{
    padding: 0px 10px;
    align-items: center;
    width: 340px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--var-color-border-btn);
    font-size: 1rem;
    color: var(--var-color-text);
}
footer input:focus{
    outline: none;
    border: 1px solid var(--var-color-button);
}
footer input::placeholder{
    font-size: 1rem;
    color: var(--var-color-border-btn);
}