@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
$grey-color: #565656;
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button{
    transition: all .2s ease;
}
.container{
    width: min(90%, 1170px);
    margin: 0 auto;
}
body{
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 166%;
    font-family: 'Lato', sans-serif;
    color: $grey-color;
}
.red-hat{
font-family: 'Red Hat Display', sans-serif;
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    background-color: #fff;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-right{
        display: flex;
        align-items: center;
        justify-content: start;
    }
}
main{
    flex-grow: 1; //щоб main розтягнувся на все вільне місце по висоті
}