*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(210, 199, 199);
}
.form_row{
    margin-bottom: 15px;
}
.form_row label, span{
    display: inline-block;
    width: 250px;
}
.container{
    margin: 150px auto;
    width: min(90%,600px);
}
.form_row .gender{
    width: 75px;
}
.form_row .agreement{
    width: 100%;
    display: inline;
}
.btn{
    text-align: center;
}