@import 'fonts';
@import 'icon';
@import 'header';


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: min(90%, 1200px);
    margin: 0 auto;
}
body{
    background-color: #fff;
    color: #000;
    background: #fff url(../img/bg-picture.svg) top 150px right -125px/760px 760px no-repeat fixed;
}

.main_container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 389px 1fr;
    gap: 26px;
    align-items: start;
    position: relative;
}

aside{
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    top: 70px;
    li{
        border-bottom: 1px solid #BDBDBD;
        &:not(:last-of-type){
        margin-bottom: 70px;
        }
        &:hover {
            border-bottom: 1px solid #000;
            a{
                font-weight: 600;
            }
        }
    }    
    a{
        color: #000;
        font-family: Francois One;
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 3.5rem;
        letter-spacing: 0.09rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s ease;
        height: 100%;
    }
}

.section{
    margin-bottom: 66px;
}
h2{
    font-family: 'Francois One', sans-serif;
    font-size: 2.25rem;
    line-height: 2.4rem; /* 133.333% */
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 33px;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        width: 100px;
        height: 8px;
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
    }
}

p, ul{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3.1rem;
}
a{
    color: #000;
    text-decoration: none;
}
li{
    list-style: none;
}
u{
    text-decoration-line: underline;
}
i{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}
code{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    mark{
        background-color: #DADADA;
    }
}
sup{
    text-transform: capitalize;
    vertical-align: text-top;
    font-family: 'Farro', sans-serif;
    font-size: 50%;
    letter-spacing: 1.2px;
    font-feature-settings:"subs";
    position: absolute;
    right: -101px;
    top: 18px;
}
.intro,
.components,
.fundamentals{
    &::before{
        display: block;
	content: "";
	height: 80px;
	margin: -80px 0 0;
    }
}
.components{
    sup{
        font-size: 47%;
        margin-left: -1px;
    }
}
.fundamentals{
    p{
        margin-bottom: 30px;
    }
    ul{
        li:not(:first-of-type){
            padding-top: 30px;
            p{
                padding-top: 26px;
                margin-bottom: 0;
            }
            &:last-child{
                padding-top: 37px;
            }
        }
    }
}    
    
dfn{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.text-input{
    p{
        margin-bottom: 28px;
    }
}